#lightbox{
	display:none;
	opacity: 0;
    position: absolute;
    z-index: 7;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(47,57,138,0.8);
    -webkit-transition: opacity 1s;
}

#lightbox.lightbox-show{
	display: flex;
	opacity: 1;
}

#lightbox img{
	max-width: 90%;
	max-height: 90%;
}

#lightbox-close{
	color: white;
    position: absolute;
    right: 40px;
    top: 20px;
    padding: 10px;
    background-color: #f11b4b;
    border-radius: 2px;
    padding-left: 20px;
    padding-right: 20px;
}