#fixed-header{
  z-index: 10;
  font-family: 'Docker2';
  position: fixed;
  top: 24px !important;
  right: 10px !important;
  text-align: right !important;
}

/*
clear blue yellow black
*/

.midnightHeader.default {
  background: none;
  color: black;
}

.midnightHeader.black {
  background: none;
  color: black;
}

.midnightHeader.clear {
  background: none;
  color: white;
  opacity: 0;
}

.midnightHeader.blue {
  background: none;
  color: #34495E;
}

.midnightHeader.yellow {
  background: none;
  color: #F1C40F;
}

#intro{
  position: absolute;
  right: 0;
  top: 60px;
  height: calc(100% - 100px); 
}

#part-0 h2{
  /*font-size: 80px;*/
  text-align: left; 
  color: #34495E !important;
	 font-family: 'Docker2' !important;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
}

#part-0 h3{
  /*font-size: 50px;*/
  text-align: left;
  color: #34495E !important;
  font-family: 'Docker1' !important;
  margin-top: 47px;
  margin-bottom: 10px;
  margin-left: 60px;
}

#part-0{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F1C40F;
}

#part-1{
  background-color: #F7F5F5; 
}

#part-1 h6{
  	text-align: left;
  font-family: 'Roboto-Light';
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 29px;
}

.real-link{
  text-decoration: underline;
  font-family: 'Roboto';
}

#part-2 h5,#part-2 h6,#part-2 .progress{
  margin-left: 20px;
  margin-right: 20px; 
}

#part-2 h5{
  	color:#607d8b;
  	text-align: left;
	 font-family: 'Roboto' !important;
}


#part-2 h6{
  	text-align: left;
	 font-family: 'Roboto-Light' !important;
  color: #37474f;	
}

#part-3{
  background-color: #ECF0F1;
  padding-top: 60px;
  padding-bottom: 60px;
}

#part-3 h6{
  	text-align: left;
	 font-family: 'Roboto' !important;
  color: #34495E;	 
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

#part-5{
  background-color: #F1C40F;
  padding-top: 30px;
  padding-bottom: 30px;
}

@-moz-document url-prefix() {
    nav, #nav{
			height: 50px
		}
		.navbar-nav:not(.navbar-right){
			width: calc(100% - 67px) !important;
		}
		.navbar-nav:not(.navbar-right) paper-icon-button{
			padding-left: 0;
			margin-left: -10px;
			margin-top:-45px;
			overflow: hidden !important;
		}
		.navbar-nav:not(.navbar-right) paper-icon-button #content{
			overflow: hidden !important;
		}
}
nav, #nav{
	background-color: #EABE0C !important;
	border-radius: 0px;
	z-index: 90 !important;
	position: fixed;
}
.navbar-right{
	width: 67px !important;
}
.navbar-nav:not(.navbar-right){
	width: auto;
}
nav paper-icon-button{
	color:white;
	margin-left: 5px;
	margin-top: 5px;
}
body{
	font-family: 'Roboto' !important;
}
.part{
	height: 100%;
	width: 100%;
	position: relative;
	padding: 20px;
	padding-top: 54px;
	overflow: hidden;
}

.header{
	color:#e84e40;
	text-align: center;
	font-family: 'Roboto-Medium';
}
.desc{
	text-align: left;
	font-family: 'Roboto-Light';
	color: #37474f;
}
.desc-left{
	text-align: left;
	font-family: 'Roboto-Light' !important;
	color: #37474f;	
}
.header-left{
	color:#607d8b;
	text-align: left;
	font-family: 'Roboto-Thin' !important;
}
#side{
	background-color: white;
	height: 100%;
	width: 30%;
	z-index: 100;
	position: fixed;
	bottom: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

#detect{
	height: 100%;
	width: 100%;
	z-index: 99;
	position: fixed;
	background-color: black;
	opacity: 0.4;
}
.side-item{
	width: 100%;
	height: 50px;
	padding: 10px;
	color: red;	
}
.side-header{
	width: 100%;
	height: 50px;
	padding: 10px;
	color: #bdbdbd;
}
.side-header h6{
	font-family: 'Lobster' !important;
	color: #bdbdbd;
}
.side-item paper-ripple{
	position: absolute;
	height: 50px;
	width: calc(100% + 10px);
	left: -10px;
	top: -10px;	
}
.side-item a{
	width: calc(100% - 10px);
	position: absolute;
	color: #424242 !important;
}
.side-item core-icon{
	margin-right: 10px;
}
.contact_i{
	font-size:50px;
}

#email_div{
	color:#ECF0F1;    
}
#github_div{
	color:#ECF0F1;
}
#github_div:hover{
	color:#2980b9;
}
#dribbble_div{
	color:#ECF0F1;
}
#dribbble_div:hover{
 	color:#8e44ad;
}
#google_div{
	color:#ECF0F1;
}
#google_div:hover{
	color:#c0392b;
}
.col-sm-3{
	text-align: center !important;
}
#side hr{
	color: #bdbdbd;
	/* padding: 10px; */
	margin-top: 10px;
}

.white-a{
	font-size: 24px !important;
	color: white !important;
}
.white-a:hover{
	color: white !important;
}


.name{
	position: absolute !important;
	left: 46px;
	top: 40px;
	color: white;
}

.name>a{
	color: white;
}

.name>a:hover{
	color: white !important;
}

.navbar-nav > li > a {
	font-weight: 400;
}
