nav{
	background-color: #00bcd4 !important;
	border-radius: 0px;
}
body{
	font-family: 'Roboto' !important;
}
#content{
	height: 100%;
	width: 100%;
	position: absolute;
	padding: 20px;
	padding-top: 54px;
}

.header{
	color:#607d8b;
	text-align: center;
	font-family: 'Roboto-Thin' !important;
}
.desc{
	text-align: center;
	font-family: 'Roboto-Light' !important;
	color: #37474f;
}
.desc-left{
	text-align: left;
	font-family: 'Roboto' !important;
	color: #37474f;	
}
.header-left{
	color:#00acc1;
	text-align: left;
	font-family: 'Roboto-Thin' !important;
}
