html{
  height:100%;
  font-family: "San-Fran";
}
body{
  height:100%;
  margin:0;
  background-color:#2D398A;
}

#extra-info{
  font-family: "SF-Mono";
}

#extra-info a{
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-size: 18px;
}

#skills{
}

#skills > p{
  font-family: "SF-Mono"
}

#canvas{
	height: 100%;
	width: 100%;
	z-index: 0;
	position: absolute;
}
#root{
	overflow: auto;
	position: absolute;
	width: 100%;
	height: 100%;
  z-index: 1;
}
#root > div{

}
#home{
  overflow:hidden;
  width: 100%;
  z-index: 1;
  position: relative;
  height: calc(100% - 20px);
} 
.mit2020{
  width: 53px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
#about{
  position:absolute;
  z-index:1;
  top:0;
  left:0;
  background-color:transparent;
  width:100%;
  height:100%;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items:center;
  justify-content:center;
  -webkit-align-items:center;
  -webkit-justify-content:center;
}

#about > div{
  max-width:90%;
  max-height:90%;
  padding:20px;
  border-radius:6px;
  text-align:center;
  position: relative;
}

h1{
  margin: 0;
  color: #f11b4b;
  padding-bottom: 10px;
  width: 100%;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
}
.me{
  margin-top:10px;
  margin-bottom:10px;
  font-weight:300;
  color:white;
  width:100%;
  font-size: 1.5em;
  word-wrap:break-word;
  word-break:break-word;
}
#about-me{
  padding:40px;
  width:calc(100% - 80px);
  position:relative;
  background-color: #131417;
  color: white;
}

#about-me .title{
  color: #f5f8ff;
}

.img-container{
  display: flex;
  flex-wrap: wrap;
}

.img-container > div{
  height: 200px;
  flex: 0;
  margin-right: 2px;
  margin-top: 2px;
  position: relative;
}

.img-container .img-hover{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(47,57,138,0.5);
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
  opacity: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.img-container .img-hover p{
  font-size: 25px;
  color: white;
}

.img-container .img-hover:hover{
  opacity: 1;
}

.img-container > div.padding{
  flex: 0;
}

.img-container img{
  height: 100%;
}

#projects, #updates{
	background-color: #eee;
	padding:40px;
	width:calc(100% - 80px);
	position:relative;
}
#about-me, #projects, .content{
  z-index: 3;
}

.item{
  padding: 10px;
  padding-left: 20px;
  border-radius: 1px;
  border-left: solid 2px white;
  margin-bottom: 20px;
  padding-left: 0px;
  padding-bottom: 0px;
}

#stuff .item{
  border-left: solid 2px black;
}

.item:last{
  margin-bottom: 0px;
}

.item h6{
  font-size: 14px;
  margin: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 16px;
}

.item p{
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: "SF-Mono";
  font-size: 14px;
}

.item p a{
  color: #f11b4b;
  font-size: 16px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.item p a:visited{
  color: #f11b4b;
}

.center{text-align:center}

.header{margin-top:15px;margin-bottom:5px;font-size:1.1em;font-weight:bold;color:black}

.desc{margin-top:15px;margin-bottom:15px;font-size:1em;font-weight:400;color:black}

.med{margin-top:5px;margin-bottom:5px;font-size:0.9em;color:black;font-weight:400}

.info{margin-top:5px;margin-bottom:5px;font-size:0.8em;color:black;font-weight:400}

.title{
    font-size: 24px;
    color: black;
    padding-bottom: 9px;
    margin-top: -8px;
    padding-top: 14px;
    padding-left: 20px;
    margin-top: 21px;
    margin-bottom: 30px;
    border-radius: 5px;
    overflow-wrap: break-word;
}