#main{
	width: 80%;
	margin-left: 10%;
	margin-top: 63px;
	margin-bottom: 63px;
}
#google-plus{
	margin-right: 30px;
}
#main h3, #main small{
	text-align: center;
}
#gplus{
	padding: 10px;
	margin-top:5px;
}
#gplus:hover{
	background-color:#C0392B;
	color:white;
}
#me{
	margin-left: calc(50% - 100px);
	border: solid thick #2C3E50;
}
#desc{
	width: 200px;
	height: 440px;
	left: 15px;
	background-color: #34495E;
	z-index: 99;
	position: absolute;
	margin-top: -440px;
	left: calc(50% - 100px);
	z-index: -1;
	padding: 20px;
}
#desc p{
	color: white;
}

small{
	color: white;
	padding: 20px;
	border-radius: 10px;
	background-color:#BDC3C7;
	display: block;
	margin-top: 10px;
	/* width: initial; */
	width: 240px;
	margin-left: calc(50% - 120px);
	padding: 6px;
}

#snap{
	width: 600px;
	border: solid thick #2C3E50;
	margin: 20px;
	margin-left: calc(50% - 300px);
}