@font-face{
  font-family: "Pixel";
  src: url("slkscr.ttf");
  font-weight: 400;
}

@font-face{
  font-family: "Pixel1";
  src: url("slkscre.ttf");
  font-weight: 400;
}

@font-face{
  font-family: "Pixel2";
  src: url("slkscreb.ttf");
  font-weight: 400;
}

@font-face{
  font-family: "Pixel3";
  src: url("slkscrb.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto-Slab";
  src: url("roboto-slab/RobotoSlab-Regular.ttf") format('truetype');
  font-weight: normal;
}

@font-face{
  font-family: "Roboto-Slab";
  src: url("roboto-slab/RobotoSlab-Bold.ttf") format('truetype');
  font-weight: bold;
}

@font-face{
  font-family: "Roboto-Slab";
  src: url("roboto-slab/RobotoSlab-Light.ttf") format('truetype');
  font-weight: lighter;
}

@font-face{
  font-face: "Roboto-Slab";
  font-weight: 200;
  src: url("roboto-slab/RobotoSlab-Thin.ttf") format('truetype');
}

/*@font-face {
  font-family: 'Arimo';
  font-weight: 400;
  src: url(Arimo-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Arimo';
  font-weight: bold;
  src: url(Arimo-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Arimo-Bold';
  font-weight: bold;
  src: url(Arimo-Bold.ttf) format('truetype');
}*/

@font-face {
  font-family: 'Slabo';
  font-weight: bold;
  src: url(Slabo.ttf) format('truetype');
}
