@font-face{
  font-family: "Pixel";
  src: url("slkscr.ttf");
  font-weight: 400;
}

@font-face{
  font-family: "Pixel1";
  src: url("slkscre.ttf");
  font-weight: 400;
}

@font-face{
  font-family: "Pixel2";
  src: url("slkscreb.ttf");
  font-weight: 400;
}

@font-face{
  font-family: "Pixel3";
  src: url("slkscrb.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto-Slab";
  src: url("roboto-slab/RobotoSlab-Regular.ttf") format('truetype');
  font-weight: normal;
}

@font-face{
  font-family: "Roboto-Slab";
  src: url("roboto-slab/RobotoSlab-Bold.ttf") format('truetype');
  font-weight: bold;
}

@font-face{
  font-family: "Roboto-Slab";
  src: url("roboto-slab/RobotoSlab-Light.ttf") format('truetype');
  font-weight: lighter;
}

@font-face{
  font-face: "Roboto-Slab";
  font-weight: 200;
  src: url("roboto-slab/RobotoSlab-Thin.ttf") format('truetype');
}

@font-face {
  font-family: 'Slabo';
  font-weight: bold;
  src: url(Slabo.ttf) format('truetype');
}

/*
SAN FRAN
*/
@font-face{
  font-family: 'San-Fran';
  font-weight: 400;
  src: url("sanfran/San_Text_Reg.ttf") format("truetype");
}

@font-face{
  font-family: 'San-Fran';
  font-weight: 700;
  src: url("sanfran/San_Text_Bold.ttf") format("truetype");
}

@font-face{
  font-family: 'San-Fran';
  font-weight: 100;
  src: url("sanfran/San_Text_Thin.ttf") format("truetype");
}

@font-face{
  font-family: 'San-Fran';
  font-weight: 800;
  src: url("sanfran/San_Text_Heavy.ttf") format("truetype");
}

@font-face{
  font-family: 'San-Fran';
  font-weight: 500;
  src: url("sanfran/San_Text_Med.ttf") format("truetype");
}


/*
MONO
*/
@font-face{
  font-family: 'SF-Mono';
  font-weight: 400;
  src: url("sfmono/SFMono-Regular.otf") format("opentype");
}

@font-face{
  font-family: 'SF-Mono';
  font-weight: 700;
  src: url("sfmono/SFMono-Bold.otf") format("opentype");
}

@font-face{
  font-family: 'SF-Mono';
  font-weight: 100;
  src: url("sfmono/SFMono-Light.otf") format("opentype");
}

@font-face{
  font-family: 'SF-Mono';
  font-weight: 800;
  src: url("sfmono/SFMono-Heavy.otf") format("opentype");
}

@font-face{
  font-family: 'SF-Mono';
  font-weight: 500;
  src: url("sfmono/SFMono-Medium.otf") format("opentype");
}
