@font-face{
  font-family: "Nexa";
  src: url("NexaRustSlab-BlackShadow01.otf") format("opentype");
  font-weight: bold;
}

@font-face{
  font-family: "Pixel";
  src: url("slkscr.ttf");
  font-weight: 400;
}

/* latin-ext */
@font-face {
  font-family: 'Arimo';
  font-weight: 400;
  src: url(Arimo-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Arimo';
  font-weight: bold;
  src: url(Arimo-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Arimo-Bold';
  font-weight: bold;
  src: url(Arimo-Bold.ttf) format('truetype');
}
