input, textarea{
padding: 15px;
width: calc(100% - 30px);
margin-top: 10px;
resize: none;
-webkit-appearance: none;
border: none;
border-radius: 3px;
font-size: 1em;
font-family: "Arimo";
background-color: rgba(255, 255, 255, 0.04);
border: solid 2px rgb(244, 65, 66);
color: white;
}

input:focus, textarea:focus{
outline: none !important;
}

::-webkit-input-placeholder,:-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {  
   font-family: "Pixel";
}
