html{height:100%}
body{height:100%;margin:0;background-color:#141414}
#main{position:fixed;top:0;left:0;overflow:hidden;background-color:#30303}
#main>canvas{background-color:#30303;overflow:hidden;position:relative;z-index:0}
#main>#about{position:absolute;z-index:1;top:0;left:0;background-color:transparent;width:100%;height:100%;display:flex;align-items:center;justify-content:center}
#main>#about>div{max-width:90%;max-height:90%;padding:20px;border-radius:6px;text-align:center}
#main>#about>div h1{margin:0;font-family:"Lobster";padding-bottom:10px;color:white;width:100%;word-wrap:break-word;word-break:break-word;font-size:10vh;text-shadow:-5px 5px #588c73}
#main>#about>div h2{margin-top:10px;margin-bottom:10px;font-family:"Arimo";font-weight:500;color:#fafafa;width:100%;word-wrap:break-word;word-break:break-word}
#content-1{
  background-color:white;
  padding:40px;
  width:calc(100% - 80px);
  position:relative;
  border-top: solid 5px #588c73;
}
.center{text-align:center}
.desc{margin-top:15px;margin-bottom:15px;font-size:2vh;font-family:"Arimo";font-weight:400;color:#4c4949}
.info{margin-top:5px;margin-bottom:5px;font-size:1.5vh;font-family:"Arimo";color:#454545;font-weight:300}
.real-link{font-weight:bold;color:#ee6c17 !important;text-decoration:underline}
.white-link{font-weight:bold;color:white !important;text-decoration:underline}
.white{color: #fafafa;}
hr{width:100%;border:none;border-bottom:solid 1px rgba(15,15,15,0.1);background-color:transparent;height:0px;padding-top:10px;padding-bottom:10px;position:relative}
#contact{display:flex;padding:10px}
#contact>div{width:25%}
#contact>div>h6{text-align:center;margin-top:5px;margin-bottom:5px}
#contact>div>h6>a{padding:15px;border-radius:50%;background-color:rgba(200,200,200,0.3);font-size:3vh;color:white}
#content-2{background-color:#ee6c17;padding:40px;width:calc(100% - 80px);position:relative;}



#contact>div>div, .github-div{
  width: 50px;
  /* height: 40px; */
  display: flex;
  margin-left: auto;
  margin-right: auto;
  /* text-align: center; */
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white !important;
  background-color: rgba(224, 224, 224, 0.24);
}

.github-div{
  float: right;
  margin-top: -5px;
}

#contact>div>div>a, .github-div > a{
  font-size: 20px;
  color: white !important;
}
